* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: Verdana, sans-serif;
    background-color: #000000;
}
.navbar {
    position: fixed;
    top: 0;
    width: 100%;
    background-color: black;
    z-index: 1000;
    padding: 5px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 5px 15px;
}
.navbar .menu {
    display: flex;
    gap: 20px;
}
.navbar .menu a {
    text-decoration: none;
    color: #FFD700;
    font size: 12px;
    right-margin: 25px;
}

.navbar a:hover {
    color: #DAA520;
}
.menu {
    display: flex;
}
.logo img {
    height: 50px;
}
.carousel-container {
    position: relative;
    max-width: 600px;
    margin-top: 10px;
    margin: 10px auto 20px; /* Adjust margin to avoid navbar overlap */
    overflow: hidden;
    background-color: #f4f4f4;
}
.carousel {
    display: flex;
    transition: transform 0.5s ease-in-out;
    position: relative;
}
.slide {
    min-width: 100%;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}
.carousel img {
    width: 600px;
    height: 350px;
    object-fit: cover;
}
.caption {
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
    color: black;
    font-size: 12px;
    text-align: center;
}
.prev, .next {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background: rgba(0, 0, 0, 0.5);
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
    font-size: 20px;
    z-index: 10;
}
.prev {
    left: 10px;
}
.next {
    right: 10px;
}
h1 {
    font-size: 20px;
    text-align: center;
    margin-top: 100px;
    color: white;
    position: relative;
}
.description {
    font-size: 12px;
    text-align: center;
    max-width: 600px;
    margin: 10px auto;
    color: white;
}
.button {
    font: 15px Verdana;
    font-weight: 900;
    text-decoration: none;
    background-color: #FFD700; /* Golden background */
    color: #ffffff; /* White text */
    padding: 10px 30px;
    border-radius: 5px;
}

.button:hover {
    background-color: #DAA520; /* Darker golden color on hover */
}

#main-footer{
    background-color: #FFD700;
    color: white;
    text-align: center;
    padding: 20px;
    margin-top: 40px;
    font-size: 12px;
}

.first-section {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 900px;
    margin: 50px auto;
    padding: 20px;
}
.first-content {
    flex: 5;
    color: white;
    font-size: 12px;
    padding-right: 20px;
}
.first-content h2 {
    font-size: 20px;
}
.first-content ul {
    padding-left: 20px;
}
.first-images {
    display: flex;
    gap: 15px;
}
.first-image1 img {
    max-width: 300%;
    height: auto;
}
.first-image2 img {
    max-width: 40%;
    height: auto;
}