* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: Verdana, sans-serif;
    background-color: #000000;
}
.navbar {
    position: fixed;
    top: 0;
    width: 100%;
    align-items: center;
    display: flex;
    justify-content: space-between;
    background-color: black;
    z-index: 1000;
}
.navbar a {
    color: white;
    text-decoration: none;
    padding: 0px 20px;
    margin-left: 5px;   
    color: #FFD700; /* Golden text color */
    font-size: 14px;
}
.navbar a:hover {
    color: #DAA520;
}
.menu {
    display: flex;
}
.logo img {
    height: 80px;
}
.carousel-container {
    position: relative;
    max-width: 600px;
    margin: 80px auto 20px; /* Adjust margin to avoid navbar overlap */
    overflow: hidden;
    background-color: #f4f4f4;
}
.carousel {
    display: flex;
    transition: transform 0.5s ease-in-out;
    position: relative;
}
.slide {
    min-width: 100%;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}
.carousel img {
    width: 600px;
    height: 350px;
    object-fit: cover;
}
.caption {
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
    color: black;
    font-size: 12px;
    text-align: center;
}
.prev, .next {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background: rgba(0, 0, 0, 0.5);
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
    font-size: 20px;
    z-index: 10;
}
.prev {
    left: 10px;
}
.next {
    right: 10px;
}
h1 {
    font-size: 20px;
    text-align: center;
    margin-top: 250px;
    color: white;
    position: relative;
}
.description {
    font-size: 12px;
    text-align: center;
    max-width: 600px;
    margin: 20px auto;
    color: white;
}